<!DOCTYPE html>
<html>
<head>
    <title>Distributed Task</title>
    <script src="/static/jquery-2.1.1.js"></script>
    <script src="/static/underscore-min.js"></script>
    <script src="/static/paralleljs/lib/parallel.js"></script>
    <script>
        var pause = false;
        var start = null;

        function setPause() {
            pause = true;
        }

        function unPause() {
            pause = false;
        }

        function internalThen(data) {
            $("#resultsMessage").html("Work completed in " + (Date.now() - start) + " millis; " + _.keys(data).length + " results.");

            console.log(data);

            this.thenFunction(data);
        }

        function getData() {
            return $("#input").val().split("\n");
        }

        function loadData() {
            eval($("#datafn").val());
            generateData();
        }

        function run() {
            var workers = parseInt($('#workers').val());
            eval($("#mapfn").val());
            eval($("#reducefn").val());
            eval($("#thenfn").val());

            this.thenFunction = then;

            var data = getData();

            console.log("creating " + workers + " parallel workers dividing " + data.length + " jobs");

            var p = new Parallel(data, {
                //evalPath: '/static/paralleljs/lib/eval.js', // needed to require a js file
                maxWorkers: workers
            });

            start = new Date();
            p.map(map).reduce(reduce).then(internalThen);
        }

    </script>


</head>

<body>
<label>Workers:
    <input type="text" name="workers" id="workers" value="2" size="2"/>
</label>
<input type="button" value="Pause" onclick="setPause()"/>
<input type="button" value="Resume" onclick="unPause()"/>
<br/>

<form name="save_task" action="{% url 'save_task' %}" method="POST">
    {% csrf_token %}

    {% if task.id %}
        <input type="hidden" name="id" value="{{ task.id }}"/>
    {% endif %}

    <label>Name
        <input type="text" name="name" value="{{ task.name }}"/>
    </label>
    <br/>

    <div style="float: left">
        <label for="mapfn">Map</label><br/>
        <textarea id="mapfn" name="map_func" cols="40" rows="10">
{{ task.map_func }}
        </textarea>
    </div>
    <div style="float: left">
        <label for="reducefn">Reduce</label><br/>
        <textarea id="reducefn" name="reduce_func" cols="40" rows="10">
{{ task.reduce_func }}
        </textarea>
    </div>
    <div style="float: left">
        <label for="thenfn">Then</label><br/>
        <textarea id="thenfn" name="then_func" cols="40" rows="10">
{{ task.then_func }}
        </textarea>
    </div>
    <br/>
    <div style="float: left">
        <label for="input">Input</label><br/>
        <textarea id="input" name="input" cols="50" rows="10"></textarea>
    </div>
    <div style="float: left">
        <label for="datafn">generateData (not saved)</label><br/>
        <textarea id="datafn" name="data_func" cols="40" rows="6">
function generateData() {
    var data = $("#input").val().split("\n");
    console.log(data);
    $("#data").html(JSON.stringify(data));
}
        </textarea>
        <input type="button" value="Generate data" onclick="loadData();"/>
    </div>
    <div style="float: left">
        <label for="data">JSON Data</label><br/>
        <textarea id="data" name="data" cols="40" rows="6">
{{ task.data }}
        </textarea>
    </div>

    <input type="submit" value="Save"/>

</form>

<div style="float: left">
    <input type="button" value="Run" onclick="run();"/>
</div>
<br/>
<div style="float: left">
    <label for="results">Results</label><br/>
    <div id="resultsMessage">
    </div>
    <div id="results">
    </div>
</div>


</body>
</html>
